<header class="navigation">
  <div class="navbar-header">
    <h1 class="navbar-brand">
      <a onclick="openSection('home-slider')" class="code-home fa fa-home"></a>
    </h1>
  </div>
</header>
<h2 class="code-title">Programming <span>AI </span> Solutions</h2>

<div class="code-cards">
  <div class="code-card">
    <div class="title">
      StockMarket AI
      <div class="skill-card-container">
        <div class="skill-card card-blue">RL Agent</div>
        <div class="skill-card card-purple">LSTMs</div>
        <div class="fa fa-arrow-circle-right arrow-button" onclick="openLink('https://github.com/crypto-code/Stock-Market-AI-GUI')"></div>
      </div>
    </div>
    <div class="content">
      Developed an AI Stock Market predictor using an LSTM model that learns from stock data from the YahooFinance API
      and an AI Stock Trading agent that uses Reinforcement Learning to pick the best trades.
    </div>
    <div class="img-container">
      <img src="img/projects/SMAI.PNG"/>
    </div>
  </div>

  <div class="code-card">
    <div class="title">
      Latent Space Visualization
      <div class="skill-card-container">
        <div class="skill-card card-red">VAE</div>
        <div class="fa fa-arrow-circle-right arrow-button" onclick="openLink('https://github.com/crypto-code/Latent-Space-Visualization')"></div>
      </div>
    </div>
    <div class="content">
      Developed an algorithm to visualize the Latent Space of an AutoEncoder model, enabling users to generate images from any point in the latent space.
    </div>
    <div class="img-container">
      <img src="img/projects/LSV.gif"/>
    </div>
  </div>

  <div class="code-card">
    <div class="title">
      Mario AI
      <div class="skill-card-container">
        <div class="skill-card card-pink">Genetic Algo</div>
        <div class="fa fa-arrow-circle-right arrow-button" onclick="openLink('https://github.com/crypto-code/Mario-AI')"></div>
      </div>
    </div>
    <div class="content">
      Developed a Genetic Algorithm to learn to play the classic Mario game. After 16 generations with 100 different species, Mario finally learned to play the game.
    </div>
    <div class="img-container">
      <img src="img/projects/mario.gif"/>
    </div>
  </div>

  <div class="code-card">
    <div class="title">
      Smart Cars
      <div class="skill-card-container">
        <div class="skill-card card-pink">Genetic Algo</div>
        <div class="skill-card card-lightblue">Unity</div>
        <div class="fa fa-arrow-circle-right arrow-button" onclick="openLink('https://github.com/crypto-code/Smart-Cars')"></div>
      </div>
    </div>
    <div class="content">
      Developed a Genetic Algorithm to learn to drive a car on a complicated course.
    </div>
    <div class="img-container">
      <img src="img/projects/SmartCars.gif"/>
    </div>
  </div>

  <div class="code-card">
    <div class="title">
      Style Transfer
      <div class="skill-card-container">
        <div class="skill-card card-green">CNN</div>
        <div class="fa fa-arrow-circle-right arrow-button" onclick="openLink('https://github.com/crypto-code/Style-Transfer')"></div>
      </div>
    </div>
    <div class="content">
      Developed an algorithm to transfer painting styles to images by using a loss function that minimizes style characteristics and noise in the image.
      This is an example of Emma Watson painted in the style of Mona Lisa.
    </div>
    <div class="img-container">
      <img src="img/projects/StylePaint.jpg"/>
    </div>
  </div>

  <div class="code-card">
    <div class="title">
      Deep Dream
      <div class="skill-card-container">
        <div class="skill-card card-green">CNN</div>
        <div class="fa fa-arrow-circle-right arrow-button" onclick="openLink('https://github.com/crypto-code/Deep-Dream')"></div>
      </div>
    </div>
    <div class="content">
      Developed a program for user's to experience Deep Dream which uses a convolutional neural network to find and enhance patterns in images via algorithmic pareidolia,
      thus creating a dream-like hallucinogenic appearance in the deliberately over-processed images.
    </div>
    <div class="img-container">
      <img src="img/projects/Dream.gif"/>
    </div>
  </div>
</div>