<header class="navigation">
  <div class="navbar-header">
    <h1 class="navbar-brand">
      <a onclick="openSection('home-slider')" class="code-home fa fa-home"></a>
    </h1>
  </div>
</header>
<h2 class="code-title">Programming <span>AI </span> Solutions</h2>

<div class="code-cards">
  <div class="code-card">
    <div class="title">
      StockMarket AI
      <div class="skill-card-container">
        <div class="skill-card card-blue">RL Agent</div>
        <div class="skill-card card-purple">LSTMs</div>
        <div class="fa fa-arrow-circle-right arrow-button" onclick="openSection('cohortconnect')"></div>
      </div>
    </div>
    <div class="content">
      Developed an AI Stock Market predictor using an LSTM model that learns from stock data from the YahooFinance API
      and an AI Stock Trading agent that uses Reinforcement Learning to pick the best trades.
    </div>
    <div class="img-container">
      <img src="img/projects/SMAI.PNG"/>
    </div>
  </div>

  <div class="code-card">
    <div class="title">
      Latent Space Visualization
      <div class="skill-card-container">
        <div class="skill-card card-red">VAE</div>
        <div class="fa fa-arrow-circle-right arrow-button" onclick="openSection('foodzyme')"></div>
      </div>
    </div>
    <div class="content">
      Developed an algorithm to visualize the Latent Space of an AutoEncoder model, enabling users to generate images from any point in the latent space.
    </div>
    <div class="img-container">
      <img src="img/projects/LSV.gif"/>
    </div>
  </div>

  <div class="code-card">
    <div class="title">
      Mario AI
      <div class="skill-card-container">
        <div class="skill-card card-pink">Genetic Algo</div>
        <div class="fa fa-arrow-circle-right arrow-button" onclick="openSection('foodzyme')"></div>
      </div>
    </div>
    <div class="content">
      Developed a Genetic Algorithm to learn to play the classic Mario game. After 16 generations with 100 different species, Mario finally learned to play the game.
    </div>
    <div class="img-container">
      <img src="img/projects/mario.gif"/>
    </div>
  </div>

  <div class="code-card">
    <div class="title">
      Smart Cars
      <div class="skill-card-container">
        <div class="skill-card card-pink">Genetic Algo</div>
        <div class="skill-card card-lightblue">Unity</div>
        <div class="fa fa-arrow-circle-right arrow-button" onclick="openSection('foodzyme')"></div>
      </div>
    </div>
    <div class="content">
      Developed a Genetic Algorithm to learn to drive a car on a complicated course.
    </div>
    <div class="img-container">
      <img src="img/projects/SmartCars.gif"/>
    </div>
  </div>
</div>