<header class="navigation">
  <div class="navbar-header">
    <h1 class="navbar-brand">
      <a onclick="openSection('home-slider')" class="code-home fa fa-home" style="color: white"></a>
    </h1>
  </div>
</header>
<div class="research-title">
  My Research Papers
  <img src="img/icons/research.png" height="100px">
</div>

<div class="research-cards">
  <div class="research-card" data-toggle="modal" data-target="#mullamaModal">
    <img src="img/research/MU-LLaMA.png"/>
    <div class="title">
      MU-LLaMA
    </div>
    <div class="desc">
      Music Understanding LLaMA:
      <br/>
      Advancing Text-to-Music Generation
      <br/>
      With Question Answering and Captioning
    </div>
    <div class="desc" style="font-weight: bold; text-decoration: black underline">
      (ICASSP 2024)
    </div>
    <div class="badge">
      <div class="badge-img" >
        <a href="https://arxiv.org/abs/2308.11276"><img src="https://img.shields.io/badge/%F0%9F%93%8E%20arXiv-Paper-red"></a>
      </div>
      <div class="badge-img" >
        <a href="https://huggingface.co/datasets/mu-llama/MusicQA"><img src="https://img.shields.io/badge/%F0%9F%A4%97%20Hugging%20Face-MusicQA%20Dataset-green"></a>
      </div>
      <div class="badge-img" >
        <a href="https://paperswithcode.com/sota/music-question-answering-on-musicqa-dataset?p=music-understanding-llama-advancing-text-to">
          <img src="https://img.shields.io/endpoint.svg?url=https://paperswithcode.com/badge/music-understanding-llama-advancing-text-to/music-question-answering-on-musicqa-dataset">
        </a>
      </div>
    </div>
  </div>

  <div class="research-card" data-toggle="modal" data-target="#m2ugenModal">
    <img src="img/research/M2UGen.png"/>
    <div class="title">
      M<sup>2</sup>UGen
    </div>
    <div class="desc">
      M<sup>2</sup>UGen: Multi-modal Music
      <br/>
      Understanding and Generation
      <br/>
      with the Power of Large Language Models
    </div>
    <div class="badge">
      <div class="badge-img" >
        <a href="https://arxiv.org/abs/2311.11255"><img src="https://img.shields.io/badge/%F0%9F%93%8E%20arXiv-Paper-red"></a>
      </div>
      <div class="badge-img" >
        <a href="https://huggingface.co/papers/2311.11255"><img src="https://img.shields.io/badge/%F0%9F%A4%97%20Hugging%20Face-Paper-blue" ></a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m2ugenModal" tabindex="-1" role="dialog" aria-labelledby="m2ugenModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 100%; height: 100%">
      <object data="/papers/2311.11255.pdf" class="pdfview" type="application/pdf" width="100%" height="100%"></object>
    </div>
  </div>
</div>

<div class="modal fade" id="mullamaModal" tabindex="-1" role="dialog" aria-labelledby="mullamaModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 100%; height: 100%">
      <object data="/papers/2308.11276.pdf" class="pdfview" type="application/pdf" width="100%" height="100%"></object>
    </div>
  </div>
</div>