<header class="navigation">
  <div class="navbar-header">
    <h1 class="navbar-brand">
      <a onclick="openSection('home-slider')" class="code-home fa fa-home" style="color: white"></a>
    </h1>
  </div>
</header>
<div class="research-title">
  My Research Papers
  <img src="img/icons/research.png" height="100px">
</div>

<div class="research-cards">
  <div class="research-card">
    <img src="img/research/MU-LLaMA.png"/>
    <div class="title">
      MU-LLaMA
    </div>
    <div class="desc">
      Music Understanding LLaMA:
      <br/>
      Advancing Text-to-Music Generation
      <br/>
      With Question Answering and Captioning
    </div>
    <div class="badge">
      <div class="badge-img" >
        <img src="https://img.shields.io/badge/%F0%9F%93%8E%20arXiv-Paper-red" href="https://arxiv.org/abs/2308.11276">
      </div>
      <div class="badge-img" >
        <img src="https://img.shields.io/badge/%F0%9F%A4%97%20Hugging%20Face-MusicQA%20Dataset-green" href="https://huggingface.co/datasets/mu-llama/MusicQA">
      </div>
      <div class="badge-img" >
        <img src="https://img.shields.io/endpoint.svg?url=https://paperswithcode.com/badge/music-understanding-llama-advancing-text-to/music-question-answering-on-musicqa-dataset"
             href="https://paperswithcode.com/sota/music-question-answering-on-musicqa-dataset?p=music-understanding-llama-advancing-text-to">
      </div>
    </div>
  </div>

  <div class="research-card">
    <img src="img/research/M2UGen.png"/>
    <div class="title">
      M<sup>2</sup>UGen
    </div>
    <div class="desc">
      M<sup>2</sup>UGen: Multi-modal Music
      <br/>
      Understanding and Generation
      <br/>
      with the Power of Large Language Models
    </div>
    <div class="badge">
      <div class="badge-img" >
        <img src="https://img.shields.io/badge/%F0%9F%93%8E%20arXiv-Paper-red" href="https://arxiv.org/abs/2311.11255">
      </div>
      <div class="badge-img" >
        <img src="https://img.shields.io/badge/%F0%9F%A4%97%20Hugging%20Face-Paper-blue" href="https://huggingface.co/papers/2311.11255">
      </div>
    </div>
  </div>
</div>